view {
	box-sizing: border-box;
}

.pub-gray {
	color: #b4b3b3
}

.pub-s-gray {
	color: #616161;
}

.pub-orange {
	color: #ffb500
}

.pub-green {
	color: #0ec358;
}

.pub-red {
	color: #ff4c4c
}

.green-background {
	background: #0ec358;
	border: solid 2rpx #0ec358 !important;
	color: #fff;
}

.orange-background {
	background: #ffb500;
	border: solid 2rpx #ffb500 !important;
	color: #fff;
}

.red-background {
	background: #ff4c4c;
	border: solid 2rpx #ff4c4c !important;
	color: #fff;
}

.dai {
	border: solid 2rpx #0081ff !important;
}

.pub-flex-1 {
	flex: 1;
}

.exam-tan-button {
	text-align: center;
}

.inline {
	display: inline-block;
}

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-box {
	flex: 1;
}

.flex-dir-row {
	flex-direction: row;
}

.flex-dir-column {
	flex-direction: column;
}

.flex-x-center {
	justify-content: center;
}

.flex-x-between {
	justify-content: space-between;
}

.flex-x-around {
	justify-content: space-around;
}

.flex-x-evenly {
	justify-content: space-evenly;
}

.flex-x-end {
	justify-content: flex-end;
}

.flex-y-center {
	align-items: center;
}

.flex-y-end {
	align-items: flex-end;
}

.flex-two {
	box-sizing: border-box;
	flex: 0 0 50%;
}

.flex-three {
	float: left;
	width: 33.3%;
}

.flex-four {
	box-sizing: border-box;
	flex: 0 0 25%;
}

.invisible {
	visibility: hidden !important;
}

.d-inline {
	display: inline !important;
}

.w-25 {
	width: 25% !important;
}

.w-40 {
	width: 40%;
}

.w-50 {
	width: 50% !important;
}

.w-60 {
	width: 60%;
}

.w-75 {
	width: 75% !important;
}

.w-80 {
	width: 80% !important;
}

.w-90 {
	width: 90% !important;
}

.w-100 {
	width: 100% !important;
}

.h-100 {
	height: 100% !important;
}

.f-36 {
	font-size: 72rpx;
}

.f-34 {
	font-size: 68rpx;
}

.f-32 {
	font-size: 64rpx;
}

.f-31 {
	font-size: 62rpx;
}

.f-30 {
	font-size: 60rpx;
}

.f-29 {
	font-size: 58rpx;
}

.f-28 {
	font-size: 56rpx;
}

.f-26 {
	font-size: 52rpx;
}

.f-25 {
	font-size: 50rpx;
}

.f-24 {
	font-size: 48rpx;
}

.f-22 {
	font-size: 44rpx;
}

.f-20 {
	font-size: 40rpx;
}

.f-18 {
	font-size: 36rpx;
}

.f-16 {
	font-size: 32rpx;
}

.f-15 {
	font-size: 30rpx;
}

.f-14 {
	font-size: 28rpx;
}

.f-13 {
	font-size: 26rpx;
}

.f-12 {
	font-size: 24rpx;
}

.t-l {
	text-align: left;
}

.t-c {
	text-align: center;
}

.t-r {
	text-align: right;
}

.f-w {
	font-weight: bold;
}

.m-top10 {
	margin-top: 20rpx;
}

.m-top15 {
	margin-top: 30rpx;
}

.m-top20 {
	margin-top: 40rpx;
}

.m-top30 {
	margin-top: 60rpx;
}

.m-bot10 {
	margin-bottom: 20rpx;
}

.m-bot15 {
	margin-bottom: 30rpx;
}

.m-bot20 {
	margin-bottom: 40rpx;
}

.m-bot30 {
	margin-bottom: 60rpx;
}

.m-l-10 {
	margin-left: 20rpx;
}

.m-l-20 {
	margin-left: 40rpx;
}

.m-l-30 {
	margin-left: 60rpx;
}

.m-r-10 {
	margin-right: 20rpx;
}

.m-r-20 {
	margin-right: 40rpx;
}

.m-r-30 {
	margin-right: 60rpx;
}

.p-t-10 {
	padding-top: 20rpx;
}

.p-t-20 {
	padding-top: 40rpx;
}

.p-t-30 {
	padding-top: 60rpx;
}

.p-b-10 {
	padding-bottom: 20rpx;
}

.p-b-20 {
	padding-bottom: 40rpx;
}

.p-b-30 {
	padding-bottom: 60rpx;
}

.p-l-10 {
	padding-left: 20rpx;
}

.p-l-20 {
	padding-left: 40rpx;
}

.p-l-30 {
	padding-left: 60rpx;
}

.p-r-10 {
	padding-right: 20rpx;
}

.p-r-20 {
	padding-right: 40rpx;
}

.p-r-30 {
	padding-right: 60rpx;
}

.border {
	border: solid 2rpx #ddd9d2;
}

.b-r {
	border-right: 2rpx solid #ddd9d2;
}

.b-l {
	border-left: 2rpx solid #ddd9d2;
}

.b-b {
	border-bottom: 2rpx solid #ddd9d2;
}

.b-t {
	border-top: 2rpx solid #ddd9d2;
}

.line1 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.line2 {
	display: -webkit-box;
	word-break: break-all;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.col3 {
	color: #333;
}

.col6 {
	color: #666;
}

.col9 {
	color: #999;
}

.radius50 {
	border-radius: 50%;
}

.radius6 {
	border-radius: 12rpx;
}

.radius8 {
	border-radius: 16rpx;
}

.pad10 {
	padding: 20rpx;
}

.pad20 {
	padding: 40rpx;
}

.pad30 {
	padding: 60rpx;
}

.p-r-l-20 {
	padding: 0 40rpx;
}

.p-r-l-30 {
	padding: 0 60rpx;
}
