@font-face {
	font-family: "iconfont";
	/* Project id 3851310 */
	src: url('//at.alicdn.com/t/c/font_3851310_d7sgpu5u75s.woff2?t=1673696884804') format('woff2'),
		url('//at.alicdn.com/t/c/font_3851310_d7sgpu5u75s.woff?t=1673696884804') format('woff'),
		url('//at.alicdn.com/t/c/font_3851310_d7sgpu5u75s.ttf?t=1673696884804') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 32rpx;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-daka:before {
	content: "\e611";
}

.icon-xiugai:before {
	content: "\e60f";
}

.icon-shanchu:before {
	content: "\e610";
}

.icon-dui:before {
	content: "\e60d";
}

.icon-a-huanfu2:before {
	content: "\e60e";
}

.icon-taiyang:before {
	content: "\e60c";
}

.icon-banzhuan:before {
	content: "\e60a";
}

.icon-hudong:before {
	content: "\e60b";
}

.icon-card:before {
	content: "\e609";
	color: #BF503C;
}

.icon-pen:before {
	content: "\e607";
}

.icon-edit:before {
	content: "\e608";
}

.icon-notebook:before {
	content: "\e602";
}

.icon-emm:before {
	content: "\e604";
}

.icon-shit:before {
	content: "\e606";
}

.icon-night:before {
	content: "\e603";
}

.icon-fish:before {
	content: "\e605";
}
