@font-face {
	font-family: "iconfont";
	/* Project id 3851310 */
	src: url('//at.alicdn.com/t/c/font_3851310_4bjginnqb3.woff2?t=1674024014225') format('woff2'),
		url('//at.alicdn.com/t/c/font_3851310_4bjginnqb3.woff?t=1674024014225') format('woff'),
		url('//at.alicdn.com/t/c/font_3851310_4bjginnqb3.ttf?t=1674024014225') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-flag:before {
	content: "\e613";
}

.icon-boom:before {
	content: "\e614";
}

.icon-shuzi7:before {
	content: "\e615";
}

.icon-shuzi1:before {
	content: "\e616";
}

.icon-shuzi6:before {
	content: "\e617";
}

.icon-shuzi2:before {
	content: "\e618";
}

.icon-shuzi5:before {
	content: "\e619";
}

.icon-shuzi3:before {
	content: "\e61a";
}

.icon-shuzi4:before {
	content: "\e61b";
}

.icon-shuzi8:before {
	content: "\e61c";
}

.icon-saolei:before {
	content: "\e612";
}

.icon-daka:before {
	content: "\e611";
}

.icon-xiugai:before {
	content: "\e60f";
}

.icon-shanchu:before {
	content: "\e610";
}

.icon-dui:before {
	content: "\e60d";
}

.icon-a-huanfu2:before {
	content: "\e60e";
}

.icon-taiyang:before {
	content: "\e60c";
}

.icon-banzhuan:before {
	content: "\e60a";
}

.icon-hudong:before {
	content: "\e60b";
}

.icon-card:before {
	content: "\e609";
}

.icon-pen:before {
	content: "\e607";
}

.icon-edit:before {
	content: "\e608";
}

.icon-notebook:before {
	content: "\e602";
}

.icon-emm:before {
	content: "\e604";
}

.icon-shit:before {
	content: "\e606";
}

.icon-night:before {
	content: "\e603";
}

.icon-fish:before {
	content: "\e605";
}
