@import '@/uni.scss';
// 主题背景色
.theme-bg {
	background-color: #fff;
}
/* 默认黄色 */
#default-skin {
	color: #2c2c2c;
	background-color: $light-yellow;
	.flag-btn {
		background: $light-yellow;
		color: #2c2c2c;
		&--active {
			background: #ffecb0;
		}
	}
	/* 亮色投影 */
	.light-shadow {
		box-shadow: 4rpx 4rpx $theme-red;
	}
	.board-column__list--show {
		box-shadow: 4rpx 4rpx inset $theme-red;
	}
	.home-header {
		background: linear-gradient(180deg, $light-yellow 0%, $light-yellow 100%);
	}
	.icon-banzhuan,
	.icon-saolei {
		color: #f7be1a;
	}
	.icon-hudong {
		color: #f9c318;
	}
	.notebook-buckle__top {
		background: #bf503c;
	}
	.notebook-buckle__bottom {
		background: $dark-yellow;
	}
	.note-btn__icon::before {
		background: $dark-yellow;
	}
	.date-item__date {
		background: #668a8a;
	}
	.commemoration-list,
	.note-nodata {
		background-color: $light-yellow;
	}
	.commemoration-list,
	.note-nodata__remark {
		color: #aa9613;
	}
	.icon-card:before {
		color: $theme-red;
	}
	.lounge-item__list-icon,
	.active-btn,
	.delete-item,
	.minesweeper-level__list {
		background: $light-yellow;
		color: #2c2c2c;
	}
}
/* 粉红色 */
#pink-skin {
	color: #2c2c2c;
	background-color: $light-pink;
	.flag-btn {
		background: $light-pink;
		color: #fff;
		&--active {
			background: #fcafd0;
			border: 4rpx solid $light-pink;
			color: $light-pink;
		}
	}
	.money-item__num {
		color: $dark-pink;
	}
	/* 亮色投影 */
	.light-shadow {
		box-shadow: 4rpx 4rpx #febcde;
	}
	.board-column__list--show {
		box-shadow: 4rpx 4rpx inset #febcde;
	}
	.home-header {
		background: linear-gradient(180deg, $dark-pink 0%, $light-pink 100%);
	}
	.icon-banzhuan,
	.icon-saolei {
		color: #e85b98;
	}
	.icon-hudong {
		color: #ec639f;
	}
	.notebook {
		.notebook-buckle__top {
			background: #febcde;
		}
		.notebook-buckle__bottom {
			background: $dark-pink;
			color: #fff;
		}
	}
	.active-btn {
		background: $light-pink;
		color: #fff;
	}
	.note-btn__icon::before {
		background: $dark-pink;
		color: #fff;
	}
	.date-item__date {
		background: #4fc9e8;
		color: #fff;
	}
	.commemoration-list,
	.note-nodata__remark {
		color: #fac3db;
	}
	.commemoration-list,
	.note-nodata {
		background-color: $light-pink;
		color: #fff;
	}
	.commemoration-list__date {
		color: #fff;
	}
	.lounge-item__list-icon,
	.delete-item,
	.minesweeper-level__list {
		background: $light-pink;
		color: #fff;
	}
	.icon-card:before {
		color: $light-pink;
	}
}
/* 蓝色 */
#blue-skin {
	color: #2c2c2c;
	background-color: $light-blue;
	.flag-btn {
		background: $light-blue;
		color: #fff;
		&--active {
			background: #8fc1f0;
			border: 4rpx solid $light-blue;
			color: $light-blue;
		}
	}
	.money-item__num {
		color: $dark-blue;
	}
	/* 亮色投影 */
	.light-shadow {
		box-shadow: 4rpx 4rpx $theme-red;
	}
	.board-column__list--show {
		box-shadow: 4rpx 4rpx inset $theme-red;
	}
	.home-header {
		background: linear-gradient(180deg, $light-blue 0%, $dark-blue 100%);
	}
	.icon-banzhuan,
	.icon-saolei {
		color: #115697;
	}
	.icon-hudong {
		color: #135b9d;
	}
	.notebook {
		.notebook-buckle__top {
			background: #9b1f25;
		}
		.notebook-buckle__bottom {
			background: $dark-blue;
			color: #fff;
		}
	}
	.active-btn {
		background: $light-blue;
		color: #fff;
	}
	.note-btn__icon::before {
		background: $dark-blue;
		color: #fff;
	}
	.date-item__date {
		background: #fce4c2;
		color: #2c2c2c;
	}
	.commemoration-list,
	.note-nodata__remark {
		color: #d1e1ef;
	}
	.commemoration-list,
	.note-nodata {
		background-color: $light-blue;
		color: #fff;
	}
	.commemoration-list__date {
		color: #fff;
	}
	.lounge-item__list-icon,
	.delete-item,
	.minesweeper-level__list {
		background: $light-blue;
		color: #fff;
	}
	.icon-card:before {
		color: $light-blue;
	}
}

/* 紫色 */
#purple-skin {
	color: #2c2c2c;
	background-color: $light-purple;
	.flag-btn {
		background: $light-purple;
		color: #fff;
		&--active {
			background: #bfbffc;
			border: 4rpx solid $light-purple;
			color: $light-purple;
		}
	}
	.money-item__num {
		color: #668a8a;
	}
	/* 亮色投影 */
	.light-shadow {
		box-shadow: 4rpx 4rpx #668a8a;
	}
	.board-column__list--show {
		box-shadow: 4rpx 4rpx inset #668a8a;
	}
	.home-header {
		background: linear-gradient(180deg, $light-purple 0%, $dark-purple 100%);
	}
	.icon-banzhuan,
	.icon-saolei {
		color: #7373b6;
	}
	.icon-hudong {
		color: #7b7bba;
	}
	.notebook {
		.notebook-buckle__top {
			background: #ffe292;
		}
		.notebook-buckle__bottom {
			background: $dark-purple;
			color: #fff;
		}
	}
	.active-btn {
		background: $light-purple;
		color: #fff;
	}
	.note-btn__icon::before {
		background: $dark-purple;
		color: #fff;
	}
	.date-item__date {
		background: #668a8a;
		color: #fff;
	}
	.commemoration-list,
	.note-nodata__remark {
		color: #d9d9e9;
	}
	.commemoration-list,
	.note-nodata {
		background-color: $light-purple;
		color: #fff;
	}
	.commemoration-list__date {
		color: #fff;
	}
	.lounge-item__list-icon,
	.delete-item,
	.minesweeper-level__list {
		background: $light-purple;
		color: #fff;
	}
	.icon-card:before {
		color: $light-purple;
	}
}

/* 橙色 */
#orange-skin {
	color: #2c2c2c;
	background-color: $light-orange;
	.flag-btn {
		background: $light-orange;
		color: #fff;
		&--active {
			background: #ffc49c;
			border: 4rpx solid $light-orange;
			color: $light-orange;
		}
	}
	.money-item__num {
		color: #668a8a;
	}
	/* 亮色投影 */
	.light-shadow {
		box-shadow: 4rpx 4rpx #668a8a;
	}
	.board-column__list--show {
		box-shadow: 4rpx 4rpx inset #668a8a;
	}
	.home-header {
		background: linear-gradient(180deg, $light-orange 0%, $dark-orange 100%);
	}
	.icon-banzhuan,
	.icon-saolei {
		color: #e26b00;
	}
	.icon-hudong {
		color: #eb7306;
	}
	.notebook {
		.notebook-buckle__top {
			background: #ffe292;
		}
		.notebook-buckle__bottom {
			background: $dark-orange;
			color: #fff;
		}
	}
	.active-btn {
		background: $light-orange;
		color: #fff;
	}
	.note-btn__icon::before {
		background: $dark-orange;
		color: #fff;
	}
	.date-item__date {
		background: #668a8a;
		color: #fff;
	}
	.commemoration-list,
	.note-nodata__remark {
		color: #fcd6bc;
	}
	.commemoration-list,
	.note-nodata {
		background-color: $light-orange;
		color: #fff;
	}
	.commemoration-list__date {
		color: #fff;
	}
	.lounge-item__list-icon,
	.delete-item,
	.minesweeper-level__list {
		background: $light-orange;
		color: #fff;
	}
	.icon-card:before {
		color: $light-orange;
	}
}
