/* 主题色 */
$light-yellow: #ffce30;
$dark-yellow: #ffce30;

/* 默认黄色 */
#default-skin {
	color: #000;
	.home-header {
		background: linear-gradient(180deg, #ffce30 0%, #fedd03 100%);
	}
	.icon-banzhuan {
		font-size: 100rpx;
		color: #f7be1a;
	}
	.icon-hudong {
		font-size: 72rpx;
		color: #f9c318;
	}
}
/* 深黑 */
#dark-skin {
	background: #000;
}
#dark-skin .bColor {
	background: #333;
	color: #999;
}
#dark-skin .borderColor {
	border-color: #999;
}
/* 粉红 */
#red-skin {
	background: #f9e5ee;
}

#red-skin .bColor {
	background: #f9e5ee;
	color: #8e5a54;
}
#red-skin .borderColor {
	border-color: #8e5a54;
}
/* 橘黄 */
#yellow-skin {
	background: #f6e1c9;
}
#yellow-skin .bColor {
	background: #f6e1c9;
	color: #8c6031;
}
#yellow-skin .borderColor {
	border-color: #8c6031;
}
