@import '@/uni.scss';

/* 默认黄色 */
#default-skin {
	color: #2c2c2c;
	// 主题背景色
	.theme-bg {
		background-color: #fff;
	}
	/* 亮色投影 */
	.light-shadow {
		box-shadow: 4rpx 4rpx $theme-red;
	}
	.picker-indicator {
		// width: 454rpx;
		height: 80rpx;
		// border-radius: 12rpx;
		border-top: 4rpx solid #2c2c2c;
		border-bottom: 4rpx solid #2c2c2c;
		// box-shadow: 4rpx 4rpx $theme-red;
	}

	.home-header {
		background: linear-gradient(180deg, $light-yellow 0%, $light-yellow 100%);
	}
	.icon-banzhuan {
		font-size: 100rpx;
		color: #f7be1a;
	}
	.icon-hudong {
		font-size: 72rpx;
		color: #f9c318;
	}
	.notebook {
		.notebook-buckle__top {
			background: #bf503c;
		}
		.notebook-buckle__bottom {
			background: $dark-yellow;
		}
	}
	.active-btn {
		background: $light-yellow;
		color: #2c2c2c;
	}
	.note-btn__icon::before {
		background: $dark-yellow;
	}
	.date-item__date {
		background: #668a8a;
	}
	.commemoration-list {
		background-color: $light-yellow;
	}
	.commemoration-list__remark {
		color: #aa9613;
	}
}
/* 深黑 */
#dark-skin {
	background: #000;
}
#dark-skin .bColor {
	background: #333;
	color: #999;
}
#dark-skin .borderColor {
	border-color: #999;
}
/* 粉红 */
#red-skin {
	background: #f9e5ee;
}

#red-skin .bColor {
	background: #f9e5ee;
	color: #8e5a54;
}
#red-skin .borderColor {
	border-color: #8e5a54;
}
/* 橘黄 */
#yellow-skin {
	background: #f6e1c9;
}
#yellow-skin .bColor {
	background: #f6e1c9;
	color: #8c6031;
}
#yellow-skin .borderColor {
	border-color: #8c6031;
}
